.row {
    display: flex;
    flex-wrap: wrap;
    background-color: $row-backgroundcolor;
    align-items: center;
    min-height: 4rem;
    .group--headline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        height: 4rem;
        padding: 0 1rem;
        border-top: 1px solid rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &--active {
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        }
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .icon--accordion {
                background: url('dropdown-arrow.svg');
                background-repeat: no-repeat;
                width: 1rem;
                height: 1rem;
                transform: rotate(0deg);
            }
            span {
                user-select: none;
                padding: 0 1.5rem;
            }
        }
        button {
            background: url('plus.svg');
            background-repeat: no-repeat;
            background-size: 1.25rem;
            background-position: 50%;
            width: 4rem;
            height: 4rem;
            outline: none;
            border: 0;
            cursor: pointer;
            padding: 0;
        }
    }
    .todo--list {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 3rem;
        .todo--item {
            display: flex;
            width: 100%;
            height: 4rem;
            padding: 0 1rem;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            user-select: none;
            div {
                display: flex;
                align-items: center;
                .todo--checkbox {
                    width: 2.5rem;
                    height: 2.5rem;
                    border: 0.05rem solid rgba(0, 0, 0, 0.5);
                    border-radius: 50%;
                    position: relative;
                    cursor: pointer;
                    margin-right: 1.5rem;
                }
                .checkbox--wrapper {
                    width: 2.5rem;
                    height: 2.5rem;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    border-radius: 50%;
                    input[type='checkbox'] {
                        margin: 0;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
                button.remove {
                    background: url('trash.svg') 50%/1.25rem no-repeat;
                    width: 4rem;
                    height: 4rem;
                    outline: 0;
                    border: 0;
                    cursor: pointer;
                    padding: 0;
                }
                span {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
            &:not(:last-of-type) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            }
            &--done {
                color: rgba(0, 0, 0, 0.5);
                div {
                    span {
                        position: relative;
                        &::after {
                            content: ' ';
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background: rgba(0, 0, 0, 0.5);
                            animation-name: strike;
                            animation-duration: 1s;
                            animation-timing-function: linear;
                            animation-iteration-count: 1;
                            animation-fill-mode: forwards;
                        }
                    }
                    .todo--checkbox {
                        border: 0.05rem solid transparent;
                        background-image: url('./checked.svg');
                        background-repeat: no-repeat;
                        opacity: 0.5;
                        transition: 1s;
                    }
                }
                span {
                    position: relative;
                    &::after {
                        content: ' ';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: rgba(0, 0, 0, 0.5);
                        animation-name: strike;
                        animation-duration: 1s;
                        animation-timing-function: linear;
                        animation-iteration-count: 1;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }
}

.row--center {
    cursor: pointer;
    justify-content: center;
    &:not(:first-of-type) {
        border-top: 1px solid rgba(0, 0, 0, 0.25);
    }
    .new--group--wrapper {
        display: flex;
        color: $btn-color;
        font-size: $btn-font-size;
        align-items: center;
        width: 100%;
        justify-content: center;
        .plus-icon {
            width: 1rem;
            height: 1rem;
            margin-right: 0.5rem;
            background: no-repeat 100% url('plus.svg');
        }
    }
}

@keyframes strike {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .row {
        .todo--list {
            padding-left: 0;
        }
    }
}
