<section class="wrapper">
    {{ component | header.html }}
    <loading></loading>
    <content style="display: none">
        <div class="row row--group--new">
            <!-- New Group Shown -->
            <button id="newGroup-button" class="btn btn--new_group">
                <div class="plus-image"></div>Neue&nbsp;Gruppe</button>
            <!-- New Group Hidden -->
            <div id="newGroup-wrapper" style="display: none">
                <input id="newGroup-name-input" placeholder="Erstelle eine neue Gruppe!">
                <button id="newGroup-submit-button" class="btn btn-save">Erstellen</button>
            </div>
        </div>
    </content>
    {{ component | footer.html }}
</section>
{{ script | views/index.js }} {{ script | task_group.js }} {{ script | todo.js }}