<section class="wrapper">
    {{ component | header.html }}
    <section class="content">
        <div class="row row--task--new">
            <button class="btn btn--new_task">Neuer Task</button>
        </div>
        <div class="row row--task">
            <span class="task--headline">
                <div class="wrapper--checkbox">
                    <input type="checkbox" class="checkbox todo-checkbox" placeholder="checkbox"/>
                </div>
                <span class="task_number">1</span>.&nbsp;
                <span class="task_name">Einkaufen</span>
            </span>
            <span class="row--item">
                <p class="info-done">
                    <span class="deadline_date">25.05.2018</span>
                </p>
            </span>
        </div>
    </section>
    {{ component | footer.html }}
</section>
{{ style | main.scss }}
{{ script | index.js }}
{{ script | animation.js }}
{{ script | new_task.js }}