<section class="wrapper">
    {{ component | header.html }}
    <section class="content Login-wrapper">
    <div class="Login">
      <h2 class="Login-headline">Gib deine Logindaten ein:</h2>
      <div class="Login-inputWrapper">
        <label class="Login-label">E-Mail:</label>
        <input id="login-email" type="email" class="Login-input" name="email" placeholder="E-Mail Adresse">
      </div>
      <div class="Login-inputWrapper">
        <label class="Login-label">Passwort:</label>
        <input id="login-password" type="password" class="Login-input" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
      </div>
      <button id="login-button" type="submit" class="Login-button">Login</button>
    </div>
    </section>
    {{ component | footer.html }}
</section>
{{ style | main.scss }}
{{ script | login.js }}
