<section class="wrapper">
    {{ component | header.html }}
    <section class="content Login-wrapper">
    <form class="Login" action="/" method="post">
      <h2 class="Login-headline">Gib deine Logindaten ein:</h2>
      <div class="Login-inputWrapper">
        <label class="Login-label">E-Mail:</label>
        <input type="email"  class="Login-input" name="email" placeholder="E-Mail Adresse">
      </div>
      <div class="Login-inputWrapper">
        <label class="Login-label">Passwort:</label>
        <input type="password" class="Login-input" name="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
      </div>
      <button type="submit" class="Login-button">Login</button>
    </form>
    </section>
    {{ component | footer.html }}
</section>
{{ style | main.scss }}
{{ script | lib/xhr.js }}
{{ script | index.js }}
{{ script | animation.js }}
{{ script | new_task.js }}
