<section class="wrapper">
    {{ component | header.html }}
    <section class="content Register-wrapper">
    <form class="Register" action="/" method="post">
      <h2 class="Register-headline">Registrierung:</h2>
      <div class="Register-inputWrapper">
        <input type="text"  class="Register-input" name="unsername" placeholder="Username">
        <input type="email"  class="Register-input" name="email" placeholder="E-Mail Adresse">
      </div>
      <div class="Register-inputWrapper">
        <input type="password" class="Register-input" name="password" placeholder="Passwort">
        <input type="password" class="Register-input" name="password" placeholder="Passwort erneut eingeben">
      </div>
      <button type="submit" class="Register-button">Account erstellen :)</button>
      <label class="Register-label">Haben Sie bereits einen Account? <a href="/login" class="Register-labelLink">Login</label>
    </form>
    </section>
    {{ component | footer.html }}
</section>
{{ style | main.scss }}
{{ script | lib/xhr.js }}
{{ script | index.js }}
{{ script | animation.js }}
{{ script | new_task.js }}
