<section class="wrapper">
    <section class="content Register-wrapper">
    <div class="Register">
      <div class="Logo" onclick="setLocation('index')"></div>
      <h2 class="Register-headline">Registrierung</h2>
      <div class="Register-inputWrapper">
        <input id="email-input" type="email" class="Register-input" name="email" placeholder="E-Mail Adresse">
      </div>
      <div class="Register-inputWrapper">
        <input id="password-input" type="password" class="Register-input" name="password" placeholder="Passwort">
        <input id="password-repeat-input" type="password" class="Register-input" name="password" placeholder="Passwort erneut eingeben">
      </div>
      <button id="register-button" type="submit" class="Register-button">Account erstellen :)</button>
      <label class="Register-label">Haben Sie bereits einen Account? <a href="/login" class="Register-labelLink">Login</label>
    </div>
    </section>
</section>
{{ style | main.scss }}
{{ script | register.js }}