/*h1 {
  color: red
}

.green {
  color: green
}

.blue {
  color: blue
}

ul.ul {
  background-color: black;

  &:hover {
    background-color: pink;
  }
  li.li {
    font-weight: bold;
    font-size: 100px;
  }

}*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import "elements/css-reset";
@import "elements/main-layout";