/*Theme*/
$theme-with-padding: 1rem;
$theme-height-padding: 1rem;
/*Themcolor*/
$background-color: #fff;
$header-color: #4545da;
$footer-color: #4545da;
$task-background: #cfe0e8;

/*font*/
/*font-color*/
<<<<<<< HEAD
$task-font-color: #7777ef;
$deadlinecolor: #FFF;
$h1-color: #FFF;
$h2-color: #FFF;
$h3-color: #FFF;
$task-headline-color: #7777ef;
$footer-font-color: #FFF;
$link-color: #FFF;
=======
$task-font-color: #4545da;
$deadlinecolor: #fff;
$h1-color: #fff;
$h2-color: #fff;
$h3-color: #fff;
$task-headline-color: #4545da;
$footer-font-color: #fff;
$link-color: #fff;
>>>>>>> e43043d22d876aace40d25d21a74e246ee45bb46
/*font-size*/
$font-size-main: 16px;
$h1-size: 1.5rem;
$h2-size: $h1-size * 0.7;
$h3-size: $h1-size * 0.5;
$task-headline-size: $h1-size * 0.7;
$p-margin: 1rem;

/*wrapper*/
$wrapper-width: 100vw;
$wrapper-height: 100vh;

/*header*/
$header-width: 100%;
$header-height: 3rem;

/*footer*/
/*footer-size*/
$footer-width: 100%;
$footer-height: 3rem;

/*content*/
/*content-size*/
$content-width: 100%;
$margin-content-items: 1rem;
$row-padding-y: 3rem;
$row-padding-x: 1rem;

/*btn*/
/*btn-color*/
$btn-color: #4545da;
/*btn-size*/
$btn-font-size: $h1-size * 0.7;
