.btn {
  background: none;
  border: 0;
  padding: 0;
  text-align: center;
  user-select: none;
  cursor: pointer;
  &--new_task {
    color: $btn-color;
    font-size: $btn-font-size;
    position: relative;
    &::before {
      display: block;
      width: 1rem;
      height: 1rem;
      content: "";
      background: no-repeat 100% url("plus.svg");
      position: absolute;
      left: -1.5rem;
    }
  }
}

.btn-save {
  background: #7777EF;
  border: 1px solid #FFF;
  padding: 0.5rem;
  border-radius: 4rem;
  margin-left: 1rem;
  color: #FFF;
  &:hover {
    background: #FFF;
    border: 1px solid #7777EF;
    color: #7777EF;
  }
}