.btn{
  background: none;
  border: 0;
  text-align: center;
  &--new_task{
    color: $btn-color;
    font-size: $btn-font-size;
    position: relative;
    &::before{
      display: block;
      width: 1.3rem;
      height: 1.3rem;
      content: "";
      background: no-repeat 100% url("plus.svg");
      position: absolute;
      left: -1.5rem;
      top: -0.05rem;
    }
  }
}