footer {
    background: $footer-color;
    display: flex;
    color: $footer-font-color;
    justify-content: space-between;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        text-decoration: none;
        :nth-last-child {
            margin-right: 0;
        }
        :nth-child(3) {
            margin-right: 0;
        }
        :nth-child(1):before {
            display: none;
        }
        li {
            display: inline-block;
            margin-right: 1rem;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: 2px;
                height: 100%;
                background: #fff;
                left: -10px;
            }

            a {
                text-decoration: none;
                color: $link-color;
            }
        }
    }
    span {
        padding: 1rem;
    }
}
