header {
    background: $header-color;
    display: flex;
    justify-content: space-between;
    .header {
        &--nav--main {
            &::before {
                background-image: url('menu_bars.svg');
            }
        }
        &--nav--profil {
            &::before {
                background-image: url('profile.svg');
            }
        }
    }
    h1 {
        user-select: none;
        cursor: pointer;
        padding: 1rem;
    }
}
