header {
  background: $header-color;
  box-sizing: border-box;
  padding: $theme-height-padding $theme-with-padding;
  display: flex;
  justify-content: space-between;
  /*.header--nav--main{
    &::before{background-image: url("../../img/menu_bars.svg")}funktioniert noch nicht*/
}