.Login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .Login-error-wrapper {
        display: none;
        position: absolute;
        width: 350px;
        max-width: 100%;
        height: 144px;
        background-color: #da6060;
        top: 2.5rem;
        border: 1px solid #5d0101;
        align-items: center;
        padding: 1rem;
        /* Animation */
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.5s;
        .Login-error-img {
            width: 4rem;
            height: 4rem;
            background: url('attention.svg');
            background-size: 100% 100%;
        }
        .Login-error-text {
            color: white;
            max-width: 252px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 1rem;
        }
    }
}
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    max-width: 100%;
    height: 500px;
    margin: 0 auto;
    background: rgb(64, 150, 238);
    background: linear-gradient(
        45deg,
        rgba(64, 150, 238, 1) 0%,
        rgba(49, 41, 155, 1) 100%
    );
    padding: 15px;
    box-shadow: 0 0 10px 2px rgba(150, 45, 45, 0.5);
    div.Logo {
        display: flex;
        align-self: center;
        width: 6rem;
        height: 6rem;
        content: '';
        background: no-repeat 100% url('logo.svg');
        margin-bottom: 1rem;
        box-shadow: inset 0px 0px 4px 0px;
        border-radius: 50%;
    }
}
.Login-headline {
    margin-bottom: 40px;
    font-size: 25px;
}
.Login-inputWrapper {
    margin-bottom: 20px;
}
.Login-input {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
}
.Login-button {
    display: block;
    margin: 0 auto;
    width: 250px;
    max-width: 100%;
    cursor: pointer;
    border-radius: 8px;
    padding: 12px 5px;
    border: none;
    margin-top: 10px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    &:hover {
        background-color: #ffffff;
        color: #3965c9;
    }
}
.Login-label {
    color: #ffffff;
    margin-top: 10px;
    text-align: center;
}
.Login-labelLink {
    margin-left: 4px;
    color: #ffffff;
}
