.header--nav{
  ul{display: none;}
  &::before{
    display: block;
    width: 2rem;
    height: 2rem;
    content: "";
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
  }
  .triggered{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #ffffffb3;
    padding: 1rem;
  }
}