.row {
  display: flex;
  background-color: white;
  box-sizing: border-box;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  height: 4rem;
  padding: 0 1rem;
  align-items: center;
  &--task--new {
    justify-content: center;
    text-align: center;
    .new_task_input {
      padding: 0.5rem;
      border: 1px #FFF solid;
      border-radius: 4rem;
    }
    .from-wrapper {
      box-sizing: border-box;
      width: 100%;
      padding: 1rem;
      input {width: 70%;}
    }
    .firstinputs {padding-top: 0;}
    .lastinputs {padding-bottom: 0;}
  }

  &:last-of-type {margin-bottom: 0;}
  .task--headline {
    display: flex;
    align-items: center;
    font-size: $task-headline-size;
    text-align: center;
    color: $task-headline-color;
    .task_number {
      margin-left: 1rem;
    }
  }
}

.row--task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {display: inline-block;
    margin-bottom: 0;
  }
  .info-done {
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgba(0, 0, 0, 0.75);
  }
}
