.row{
  background: $task-background;
  margin-bottom: $margin-content-items;
  box-sizing: border-box;
  padding: $row-padding-y $row-padding-x;
  flex-wrap: wrap;
  &--task--new{
    text-align: center;
    .new_task_input{
      padding: 0.5rem;
      border: 1px #FFF solid;
      border-radius: 4rem;
    }
    .from-wrapper{
      box-sizing: border-box;
      width: 100%;
      padding: 1rem;
      input{width: 70%;}
    }
    .firstinputs{padding-top: 0;}
    .lastinputs{padding-bottom: 0;}
  }

  &:last-of-type{margin-bottom:0;}
  .task--headline{
    font-size: $task-headline-size;
    text-align: center;
    color: $task-headline-color
  }
}
.row--task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{display: inline-block;
      margin-bottom: 0;
    }
    .info-done{
      display: flex;
      justify-content: center;
      align-content: center;
    }
}
