body {
    font-size: $font-size-main;
    h1 {
        font-size: $h1-size;
        color: $h1-color;
    }
    h2 {
        font-size: $h2-size;
        color: $h2-color;
    }
    h3 {
        font-size: $h3-size;
        color: $h3-color;
    }
    h1,
    h2,
    h3 {
        align-self: center;
        font-weight: 400;
    }
    p {
        margin-bottom: $p-margin;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: $h1-size * 1.2;
    }
    h2 {
        font-size: $h2-size * 1.2;
    }
    h3 {
        font-size: $h3-size * 1.2;
    }
}
